*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: light;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  height: 45em; }

.wrap {
  width: 100%;
  /*border: 2px solid tomato;*/
  margin: 0 auto;
  /*display: flex;*/ }

nav {
  height: 92px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  /*border: 2px solid hotpink;*/
  align-items: center;
  justify-content: space-between;
  /*padding: 2%;*/
  padding: 0 2%;
  padding-right: 0; }

nav img {
  width: 15%; }

.nav-links {
  display: flex;
  justify-content: center;
  padding-right: 0;
  margin-right: 0;
  width: 25%;
  border: 2px solid red; }
  .nav-links p {
    display: flex;
    color: white;
    padding-right: 5%;
    margin-right: 6%; }
    .nav-links p:last-child {
      padding-right: 0;
      margin-right: 0; }
  .nav-links a {
    color: red; }

.links p {
  padding-right: 3%;
  margin-right: 2%;
  /*border: 2px solid hotpink;*/ }

nav p {
  font-size: 1em; }

header {
  opacity: 0.8;
  height: 35em;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  text-align: center; }

.header {
  background: url("../img/landing_valgega.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

h1 {
  color: white;
  font-size: 50px; }

button {
  border: 2px solid white;
  background: transparent;
  color: white;
  font-size: 1.3em;
  max-width: 250px;
  min-height: 75px;
  padding: 1.6%;
  margin: 0 auto;
  margin-top: 0.7em; }

.intro {
  font-size: 1.3em;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center; }

.row {
  display: flex;
  width: 80%;
  margin: 1% auto;
  padding-bottom: 2%; }

.row-first .box {
  height: 10em; }

.box-content {
  margin: 0 auto;
  width: 30%;
  border: none; }

@media screen and (max-width: 800px) {
  .box-content {
    width: 100%;
    min-width: 400px;
    /*min-width: 400px;
    display: flex;
    flex-direction: column;*/ }

  .row {
    flex-direction: column; }

  .main-content {
    margin: 0 auto; }

  .wrap {
    min-width: 400px;
    margin: 0 auto; } }
.box {
  /*height: 10em;*/
  height: auto;
  margin: 6% auto;
  text-align: justify;
  padding: 2%; }

.box-text {
  height: auto; }

h3 {
  text-align: center; }

h2 {
  color: white;
  font-size: 36px; }

.content {
  width: 50%;
  padding: 2%;
  /*border: 2px solid tomato;*/ }

.main-content {
  margin-top: 3%; }

.row-supported {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /*height: 30em;*/
  width: 50%;
  margin: 0 auto;
  border: 2px solid purple;
  position: absolute;
  bottom: 0;
  transform: translateX(0, -50%); }

.icons {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 50%;
  height: 7em;
  padding: 0; }
  .icons img {
    margin: 0 auto;
    width: 66px;
    height: 66px;
    display: flex;
    align-items: center; }
    .icons img:last-child {
      color: pink;
      margin-right: 0; }

i {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }

i:hover {
  cursor: pointer;
  -webkit-tranform: scale(1.3);
  -moz-transform: scale(1.3);
  transform: scale(1.3); }

.faq {
  display: flex;
  flex-direction: column;
  text-align: center;
  /*border: 2px solid hotpink;*/
  margin: 0 auto;
  padding-bottom: 3%; }

@media screen and (max-width: 800px) {
  .nav-links {
    display: none; }

  nav img {
    width: 25%; } }
li {
  list-style: none; }
  li a {
    color: white;
    padding-right: 3%; }

.nav-small {
  padding-top: 3%;
  display: none;
  position: absolute;
  top: 10%;
  left: 70%; }
  @media screen and (max-width: 800px) {
    .nav-small {
      display: block; } }
  @media screen and (max-width: 800px) {
    .nav-small {
      position: absolute;
      top: 2%;
      left: 83%; } }

.burger {
  color: lightgrey;
  display: inline-block;
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
  border-bottom: 4px solid currentColor;
  width: 28px;
  transition: border-bottom 1s ease-in-out;
  -webkit-transition: border-bottom 1s ease-in-out; }
  .burger::-moz-focus-inner {
    border: 0;
    padding: 0; }
  .burger:before {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out; }
  .burger:after {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out; }

.burger-check {
  display: none; }

.burger-check:checked ~ .burger {
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out; }
  .burger-check:checked ~ .burger:before {
    transform: rotate(-405deg) translateY(1px) translateX(-3px);
    -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out; }
  .burger-check:checked ~ .burger:after {
    transform: rotate(405deg) translateY(-4px) translateX(-5px);
    -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out; }

.navigation {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out; }

.burger-check:checked ~ .navigation {
  max-height: 500px;
  transition: max-height 0.5s ease-in-out; }

/*# sourceMappingURL=main.css.map */
